In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../summary_data/original/all_tools_TRB.csv")
df

,Sample,CDR3,nReads_TCR,nReads_MIXCR,nReads_IMREP,nReads_TRUST4,tissue,tissue_type,total_reads_TCR,total_reads_MIXCR,total_reads_IMREP,total_reads_TRUST4,frequency_TCR,frequency_MIXCR,frequency_IMREP,frequency_TRUST4,repertoire_type,class
0,SRR5233637,CASSLPKETQYF,11.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,84.0,315.0,544.0,0.000004,0.0,0.0,0.000000,polyclonal,T_cell_poor_polyclonal
1,SRR5233637,CASLGRHYNEQFF,1097.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,84.0,315.0,544.0,0.000360,0.0,0.0,0.000000,polyclonal,T_cell_poor_polyclonal
2,SRR5233637,CASTQAAGTEKLFF,42.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,84.0,315.0,544.0,0.000014,0.0,0.0,0.000000,polyclonal,T_cell_poor_polyclonal
3,SRR5233637,CASSVPRGDYEQYF,61.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,84.0,315.0,544.0,0.000020,0.0,0.0,0.000000,polyclonal,T_cell_poor_polyclonal
4,SRR5233637,CASTPLGAEGSPLHF,2994.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,84.0,315.0,544.0,0.000982,0.0,0.0,0.000000,polyclonal,T_cell_poor_polyclonal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389052,sample15,CASSLGGAGGYAF,0.0,0.0,0.0,2.0,melanoma,T_cell_poor,749686.0,113.0,152.0,351.0,0.000000,0.0,0.0,0.005698,polyclonal,T_cell_poor_polyclonal
389053,sample15,CASS?FGAGASGYTDTQYF,0.0,0.0,0.0,2.0,melanoma,T_cell_poor,749686.0,113.0,152.0,351.0,0.000000,0.0,0.0,0.005698,polyclonal,T_cell_poor_polyclonal
389054,sample15,CASSWTGSQETQYF,0.0,0.0,0.0,2.0,melanoma,T_cell_poor,749686.0,113.0,152.0,351.0,0.000000,0.0,0.0,0.005698,polyclonal,T_cell_poor_polyclonal
389055,sample15,CASSVEGYEQYF,0.0,0.0,0.0,2.0,melanoma,T_cell_poor,749686.0,113.0,152.0,351.0,0.000000,0.0,0.0,0.005698,polyclonal,T_cell_poor_polyclonal
389056,sample15,CASSESPAFGEKLFF,0.0,0.0,0.0,3.0,melanoma,T_cell_poor,749686.0,113.0,152.0,351.0,0.000000,0.0,0.0,0.008547,polyclonal,T_cell_poor_polyclonal

In [3]:
RNA_seq_reads = pd.read_csv("../summary_data/original/RNA_seq_reads.csv")
RNA_seq_reads

          Sample  total_reads_RNA_seq
0       sample01            104984482
1       sample02             73892845
2       sample03             71654976
3       sample04             43179989
4       sample05             79372504
5       sample06             40524817
6       sample07             82476159
7       sample08             72397468
8       sample09             85492431
9       sample10             68584414
10      sample11             63320771
11      sample12             55727841
12      sample13            107919183
13      sample14             80622502
14      sample15             55931661
15    SRR5233637             72720367
16    SRR5233639             65998918
17  TCGA-CZ-4862             58529923
18  TCGA-CZ-5463            122632451
19  TCGA-CZ-5985             83862519

Total number of reads in each sample

In [4]:
total_reads = df[['Sample','tissue','tissue_type','repertoire_type','class','total_reads_TCR','total_reads_MIXCR','total_reads_IMREP','total_reads_TRUST4']]
total_reads = total_reads.drop_duplicates(keep='first')
total_reads

# Add the column of RNA-Seq reads
total_reads = pd.merge(total_reads, RNA_seq_reads, how='left', on=['Sample'])
total_reads

# Calculate number of TCR derived reads per one million RNA-Seq reads 
# MIXCR
MIXCR = total_reads[['Sample','tissue','tissue_type','repertoire_type','class','total_reads_TCR','total_reads_MIXCR','total_reads_RNA_seq']]
MIXCR.rename(columns={'total_reads_MIXCR':'total_reads_tool'}, inplace=True)
MIXCR.loc[:,'tool'] = 'MIXCR'
MIXCR.loc[:,'TCR_derived_by_RNA_seq_tool'] = MIXCR['total_reads_tool']/MIXCR['total_reads_RNA_seq'] *1000000

# IMREP
IMREP = total_reads[['Sample','tissue','tissue_type','repertoire_type','class','total_reads_TCR','total_reads_IMREP','total_reads_RNA_seq']]
IMREP.rename(columns={'total_reads_IMREP':'total_reads_tool'}, inplace=True)
IMREP.loc[:,'tool'] = 'IMREP'
IMREP.loc[:,'TCR_derived_by_RNA_seq_tool'] = IMREP['total_reads_tool']/IMREP['total_reads_RNA_seq']*1000000

# TRUST4
TRUST4 = total_reads[['Sample','tissue','tissue_type','repertoire_type','class','total_reads_TCR','total_reads_TRUST4','total_reads_RNA_seq']]
TRUST4.rename(columns={'total_reads_TRUST4':'total_reads_tool'}, inplace=True)
TRUST4.loc[:,'tool'] = 'TRUST4'
TRUST4.loc[:,'TCR_derived_by_RNA_seq_tool'] = TRUST4['total_reads_tool']/TRUST4['total_reads_RNA_seq']*1000000

reads_count = pd.concat([MIXCR,IMREP,TRUST4])
reads_count.to_csv('../summary_data/original/all_tools_TRB_reads.csv', index=False)

reads_count

/Users/keruipeng/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)
/Users/keruipeng/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/keruipeng/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Sample,tissue,tissue_type,repertoire_type,class,total_reads_TCR,total_reads_tool,total_reads_RNA_seq,tool,TCR_derived_by_RNA_seq_tool
0,SRR5233637,small_intestine,T_cell_poor,polyclonal,T_cell_poor_polyclonal,3047629.0,84.0,72720367,MIXCR,1.155110
1,SRR5233639,lymph_node,T_cell_rich,polyclonal,T_cell_rich_polyclonal,3256697.0,1346.0,65998918,MIXCR,20.394274
2,TCGA-CZ-4862,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,16784.0,0.0,58529923,MIXCR,0.000000
3,TCGA-CZ-5463,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,806.0,0.0,122632451,MIXCR,0.000000
4,TCGA-CZ-5985,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12998.0,0.0,83862519,MIXCR,0.000000
5,sample01,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,90577.0,132472.0,104984482,MIXCR,1261.824581
6,sample02,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,87762.0,41370.0,73892845,MIXCR,559.864761
7,sample03,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,305953.0,52066.0,71654976,MIXCR,726.620856
8,sample04,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,104779.0,158.0,43179989,MIXCR,3.659102
9,sample05,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,36666.0,2572.0,79372504,MIXCR,32.404169
10,sample06,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,18617.0,55.0,40524817,MIXCR,1.357193
11,sample07,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,906121.0,91.0,82476159,MIXCR,1.103349
12,sample08,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1257571.0,0.0,72397468,MIXCR,0.000000
13,sample09,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1408590.0,150.0,85492431,MIXCR,1.754541
14,sample10,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1157845.0,310.0,68584414,MIXCR,4.519977
15,sample11,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1769522.0,59.0,63320771,MIXCR,0.931764
16,sample12,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1006220.0,12.0,55727841,MIXCR,0.215332
17,sample13,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,292828.0,8.0,107919183,MIXCR,0.074130
18,sample14,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12954.0,1071.0,80622502,MIXCR,13.284133
19,sample15,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,749686.0,113.0,55931661,MIXCR,2.020323
0,SRR5233637,small_intestine,T_cell_poor,polyclonal,T_cell_poor_polyclonal,3047629.0,315.0,72720367,IMREP,4.331661
1,SRR5233639,lymph_node,T_cell_rich,polyclonal,T_cell_rich_polyclonal,3256697.0,6143.0,65998918,IMREP,93.077283
2,TCGA-CZ-4862,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,16784.0,50.0,58529923,IMREP,0.854264
3,TCGA-CZ-5463,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,806.0,16.0,122632451,IMREP,0.130471
4,TCGA-CZ-5985,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12998.0,23.0,83862519,IMREP,0.274258
5,sample01,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,90577.0,219185.0,104984482,IMREP,2087.784745
6,sample02,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,87762.0,57700.0,73892845,IMREP,780.860447
7,sample03,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,305953.0,64914.0,71654976,IMREP,905.924524
8,sample04,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,104779.0,1354.0,43179989,IMREP,31.357118
9,sample05,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,36666.0,9888.0,79372504,IMREP,124.577146
10,sample06,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,18617.0,111.0,40524817,IMREP,2.739062
11,sample07,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,906121.0,231.0,82476159,IMREP,2.800809
12,sample08,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1257571.0,2.0,72397468,IMREP,0.027625
13,sample09,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1408590.0,259.0,85492431,IMREP,3.029508
14,sample10,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1157845.0,334.0,68584414,IMREP,4.869911
15,sample11,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1769522.0,71.0,63320771,IMREP,1.121275
16,sample12,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1006220.0,31.0,55727841,IMREP,0.556275
17,sample13,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,292828.0,10.0,107919183,IMREP,0.092662
18,sample14,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12954.0,844.0,80622502,IMREP,10.468541
19,sample15,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,749686.0,152.0,55931661,IMREP,2.717602
0,SRR5233637,small_intestine,T_cell_poor,polyclonal,T_cell_poor_polyclonal,3047629.0,544.0,72720367,TRUST4,7.480710
1,SRR5233639,lymph_node,T_cell_rich,polyclonal,T_cell_rich_polyclonal,3256697.0,9054.0,65998918,TRUST4,137.184067
2,TCGA-CZ-4862,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,16784.0,710.0,58529923,TRUST4,12.130547
3,TCGA-CZ-5463,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,806.0,366.0,122632451,TRUST4,2.984528
4,TCGA-CZ-5985,kidney,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12998.0,282.0,83862519,TRUST4,3.362646
5,sample01,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,90577.0,264884.0,104984482,TRUST4,2523.077649
6,sample02,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,87762.0,89947.0,73892845,TRUST4,1217.262646
7,sample03,PBMC,T_cell_rich,monoclonal,T_cell_rich_monoclonal,305953.0,99723.0,71654976,TRUST4,1391.710745
8,sample04,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,104779.0,2006.0,43179989,TRUST4,46.456705
9,sample05,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,36666.0,13022.0,79372504,TRUST4,164.061852
10,sample06,PBMC,T_cell_rich,polyclonal,T_cell_rich_polyclonal,18617.0,186.0,40524817,TRUST4,4.589780
11,sample07,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,906121.0,689.0,82476159,TRUST4,8.353929
12,sample08,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1257571.0,19.0,72397468,TRUST4,0.262440
13,sample09,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1408590.0,657.0,85492431,TRUST4,7.684891
14,sample10,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1157845.0,1009.0,68584414,TRUST4,14.711797
15,sample11,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1769522.0,306.0,63320771,TRUST4,4.832537
16,sample12,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,1006220.0,63.0,55727841,TRUST4,1.130494
17,sample13,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,292828.0,39.0,107919183,TRUST4,0.361382
18,sample14,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,12954.0,2855.0,80622502,TRUST4,35.411950
19,sample15,melanoma,T_cell_poor,polyclonal,T_cell_poor_polyclonal,749686.0,351.0,55931661,TRUST4,6.275515

Average number of reads in different tissue types

In [5]:
mean_tissue_reads = reads_count.groupby("tissue")["total_reads_TCR","total_reads_tool","total_reads_RNA_seq","TCR_derived_by_RNA_seq_tool"].agg(["mean", "std"]) 
display(mean_tissue_reads)
tools = ['MIXCR','IMREP','TRUST4']              
for tool in tools: 
    print(tool)
    df_tool = reads_count.loc[reads_count['tool'] == tool]
    mean_tissue_reads = df_tool.groupby("tissue")["total_reads_TCR","total_reads_tool","total_reads_RNA_seq","TCR_derived_by_RNA_seq_tool"].agg(["mean", "std"]) 
    display(mean_tissue_reads)

                total_reads_TCR                total_reads_tool                \
                           mean            std             mean           std
tissue
PBMC               1.073923e+05   96696.505791     58422.944444  78439.409081
kidney             1.019600e+04    7230.794770       160.777778    247.037334
lymph_node         3.256697e+06       0.000000      5514.333333   3892.265707
melanoma           9.512597e+05  523470.109037       360.592593    590.024723
small_intestine    3.047629e+06       0.000000       314.333333    230.000725

                total_reads_RNA_seq               TCR_derived_by_RNA_seq_tool  \
                               mean           std                        mean
tissue
PBMC                   6.893494e+07  2.266486e+07                  659.229616
kidney                 8.834163e+07  2.795975e+07                    2.192968
lymph_node             6.599892e+07  0.000000e+00                   83.551875
melanoma               7.471916e+07  1.593224e+07                    4.763433
small_intestine        7.272037e+07  0.000000e+00                    4.322494


                        std
tissue
PBMC             775.795145
kidney             3.951345
lymph_node        58.974690
melanoma           7.380718
small_intestine    3.162810

MIXCR

                total_reads_TCR                total_reads_tool                \
                           mean            std             mean           std
tissue
PBMC               1.073923e+05  102941.291342     38115.500000  51499.652759
kidney             1.019600e+04    8349.402613         0.000000      0.000000
lymph_node         3.256697e+06            NaN      1346.000000           NaN
melanoma           9.512597e+05  544844.963860       201.555556    339.992320
small_intestine    3.047629e+06            NaN        84.000000           NaN

                total_reads_RNA_seq               TCR_derived_by_RNA_seq_tool  \
                               mean           std                        mean
tissue
PBMC                   6.893494e+07  2.412859e+07                  430.955110
kidney                 8.834163e+07  3.228514e+07                    0.000000
lymph_node             6.599892e+07           NaN                   20.394274
melanoma               7.471916e+07  1.658280e+07                    2.655950
small_intestine        7.272037e+07           NaN                    1.155110


                        std
tissue
PBMC             513.879190
kidney             0.000000
lymph_node              NaN
melanoma           4.223584
small_intestine         NaN

IMREP

                total_reads_TCR                total_reads_tool                \
                           mean            std             mean           std
tissue
PBMC               1.073923e+05  102941.291342     58858.666667  83544.890869
kidney             1.019600e+04    8349.402613        29.666667     17.953644
lymph_node         3.256697e+06            NaN      6143.000000           NaN
melanoma           9.512597e+05  544844.963860       214.888889    264.090157
small_intestine    3.047629e+06            NaN       315.000000           NaN

                total_reads_RNA_seq               TCR_derived_by_RNA_seq_tool  \
                               mean           std                        mean
tissue
PBMC                   6.893494e+07  2.412859e+07                  655.540507
kidney                 8.834163e+07  3.228514e+07                    0.419664
lymph_node             6.599892e+07           NaN                   93.077283
melanoma               7.471916e+07  1.658280e+07                    2.853801
small_intestine        7.272037e+07           NaN                    4.331661


                        std
tissue
PBMC             803.417391
kidney             0.383179
lymph_node              NaN
melanoma           3.278579
small_intestine         NaN

TRUST4

                total_reads_TCR                total_reads_tool  \
                           mean            std             mean
tissue
PBMC               1.073923e+05  102941.291342     78294.666667
kidney             1.019600e+04    8349.402613       452.666667
lymph_node         3.256697e+06            NaN      9054.000000
melanoma           9.512597e+05  544844.963860       665.333333
small_intestine    3.047629e+06            NaN       544.000000

                               total_reads_RNA_seq                \
                           std                mean           std
tissue
PBMC             101579.501022        6.893494e+07  2.412859e+07
kidney              226.780364        8.834163e+07  3.228514e+07
lymph_node                 NaN        6.599892e+07           NaN
melanoma            888.407846        7.471916e+07  1.658280e+07
small_intestine            NaN        7.272037e+07           NaN

                TCR_derived_by_RNA_seq_tool
                                       mean          std
tissue
PBMC                             891.193229  1004.813547
kidney                             6.159241     5.174758
lymph_node                       137.184067          NaN
melanoma                           8.780548    11.009198
small_intestine                    7.480710          NaN

Average number of reads in different repertoire types

In [6]:
mean_repertoire_reads = reads_count.groupby("class")["total_reads_TCR","total_reads_tool","total_reads_RNA_seq","TCR_derived_by_RNA_seq_tool"].agg(["mean", "std"]) 
display(mean_repertoire_reads)
tools = ['MIXCR','IMREP','TRUST4']              
for tool in tools: 
    print(tool)
    df_tool = reads_count.loc[reads_count['tool'] == tool]
    mean_repertoire_reads = df_tool.groupby("class")["total_reads_TCR","total_reads_tool","total_reads_RNA_seq","TCR_derived_by_RNA_seq_tool"].agg(["mean", "std"]) 
    display(mean_repertoire_reads)

                       total_reads_TCR               total_reads_tool  \
                                  mean           std             mean
class
T_cell_poor_polyclonal   895350.307692  8.608098e+05       310.923077
T_cell_rich_monoclonal   161430.666667  1.083986e+05    113584.555556
T_cell_rich_polyclonal   854189.750000  1.449155e+06      3824.583333

                                     total_reads_RNA_seq                \
                                 std                mean           std
class
T_cell_poor_polyclonal    510.802175        7.770905e+07  1.932221e+07
T_cell_rich_monoclonal  78773.384868        8.351077e+07  1.613441e+07
T_cell_rich_polyclonal   4531.569053        5.726906e+07  1.687099e+07

                       TCR_derived_by_RNA_seq_tool
                                              mean         std
class
T_cell_poor_polyclonal                    4.136331    6.500959
T_cell_rich_monoclonal                 1272.770106  654.592373
T_cell_rich_polyclonal                   55.154813   58.825795

MIXCR

                       total_reads_TCR               total_reads_tool  \
                                  mean           std             mean
class
T_cell_poor_polyclonal   895350.307692  8.843980e+05       146.000000
T_cell_rich_monoclonal   161430.666667  1.251679e+05     75302.666667
T_cell_rich_polyclonal   854189.750000  1.602101e+06      1032.750000

                                     total_reads_RNA_seq                \
                                 std                mean           std
class
T_cell_poor_polyclonal    291.594467        7.770905e+07  1.985168e+07
T_cell_rich_monoclonal  49798.098451        8.351077e+07  1.863041e+07
T_cell_rich_polyclonal   1181.608896        5.726906e+07  1.865158e+07

                       TCR_derived_by_RNA_seq_tool
                                              mean         std
class
T_cell_poor_polyclonal                    1.927589    3.642657
T_cell_rich_monoclonal                  849.436733  366.742010
T_cell_rich_polyclonal                   14.453684   14.669146

IMREP

                       total_reads_TCR               total_reads_tool  \
                                  mean           std             mean
class
T_cell_poor_polyclonal   895350.307692  8.843980e+05       179.846154
T_cell_rich_monoclonal   161430.666667  1.251679e+05    113933.000000
T_cell_rich_polyclonal   854189.750000  1.602101e+06      4374.000000

                                     total_reads_RNA_seq                \
                                 std                mean           std
class
T_cell_poor_polyclonal    233.733055        7.770905e+07  1.985168e+07
T_cell_rich_monoclonal  91222.245516        8.351077e+07  1.863041e+07
T_cell_rich_polyclonal   4502.855612        5.726906e+07  1.865158e+07

                       TCR_derived_by_RNA_seq_tool
                                              mean         std
class
T_cell_poor_polyclonal                    2.405759    2.938761
T_cell_rich_monoclonal                 1258.189905  721.166385
T_cell_rich_polyclonal                   62.937652   55.764460

TRUST4

                       total_reads_TCR               total_reads_tool  \
                                  mean           std             mean
class
T_cell_poor_polyclonal   895350.307692  8.843980e+05       606.923077
T_cell_rich_monoclonal   161430.666667  1.251679e+05    151518.000000
T_cell_rich_polyclonal   854189.750000  1.602101e+06      6067.000000

                                     total_reads_RNA_seq                \
                                 std                mean           std
class
T_cell_poor_polyclonal    737.284258        7.770905e+07  1.985168e+07
T_cell_rich_monoclonal  98299.440543        8.351077e+07  1.863041e+07
T_cell_rich_polyclonal   6010.326558        5.726906e+07  1.865158e+07

                       TCR_derived_by_RNA_seq_tool
                                              mean         std
class
T_cell_poor_polyclonal                    8.075644    9.305104
T_cell_rich_monoclonal                 1710.683680  708.940058
T_cell_rich_polyclonal                   88.073101   75.027921